{% extends 'layout.html' %}

{% block content %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Odometer</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                {% for vehicle in vehicles %}
                    <tr>
                        <th scope="row">{{vehicle.vehicle_title}}</th>
                        <td>{{vehicle.description}}</td>
                        <td>{{vehicle.odometer}}</td>
                        <td>{{vehicle.price_info}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}